# This is an example site.cfg file for the case of building extensions with
# Intel ifort and pre-installed Intel MKL libraries located under /opt/lib
# the fortran_libs are libraries needed for linking fortran object files with
# gcc into a loadable module
[DEFAULT]
#lapack_libs = mkl_core mkl_intel_lp64 mkl_sequential pthread m
lapack_libs = openblas 
lapack_dirs = /opt/OpenBLAS/lib 
#lapack_dirs = /usr/lib
#lapack_dirs = /opt/intel/mkl/lib/intel64 
#lapack_dirs =  /usr/local/share/intel/mkl91_21/lib/emt64
#fortran_libs = imf ifcore 
#g2c
fortran_dirs = /usr/lib

# set the following if you want to see f2py info messages
f2py_report_on_array_copy = 1

