# This is an example site.cfg file for the case of building extensions with
# Intel ifort and pre-installed Intel MKL libraries located under /opt/lib
# the fortran_libs are libraries needed for linking fortran object files with
# gcc into a loadable module

[DEFAULT]
lapack_libs = lapack blas 
lapack_dirs = /usr/lib
fortran_libs = imf ifcore g2c
fortran_dirs = /usr/lib

# set the following if you want to see f2py info messages
f2py_report_on_array_copy = 1

